extend layout

block content
    h1 Add new Contact 
    form(action="/new_contact" method="POST")
        p Name: 
        input#title(type="text", name="name")
        p Phone No.: 
        input#title(type="text", name="phone")
        p: button.btn.btn-primary(type='submit') Add new Contact 
    
    h1 Add new Database 
    form(action="/createdb" method="POST")
        p Name: 
        input#title(type="text", name="dbname")
        p: button.btn.btn-primary(type='submit') Add new Database

    h1 enter phone number to delete new_contact
    form(action="/delete_contact" method="POST")
        p Phone Number: 
        input#title(type="text", name="phone")
        p: button.btn.btn-primary(type='submit') Delete Contact

    h1 view specific contact
    form(action="/view_contact" method="POST")
        p Phone Number: 
        input#title(type="text", name="phone")
        p: button.btn.btn-primary(type='submit') Search Contact

